



.container{
	position: relative;
	padding:3em;
	display: flex;
	height: auto;
	flex-direction: column;

	
	
}
.container .card{
	position: relative;
	width: 40vw;
	height: 50vh;
	background: #022435;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 20px;
	

	


	
}
.container .card:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7984e4;
	clip-path: circle(240px at 30% 100%);
	transition: 0.5s ease-in-out;
	
	
}
.container .card:hover:before{
	clip-path: circle(300px at 80% -20%);
}
.container .card:after{
	
	position: absolute;
	top: 30%;
	left: -20%;
	font-size: 12em;
	font-weight: 800;
	font-style: italic;
	color: rgba(255,255,255,0.04);
}
.container .card .img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10000;
	width: 100%;
	height: 220px;
	transition: 0.5s;
}
.container .card:hover .img{
	top: 0%;
	transform: translateY(0%);
}
.container .card .img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)rotate(-25deg)scaleX(-1);
	width: 270px;
}
.container .card .content-box{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}
.container .card:hover .content-box{
	height: 210px;
	background-color: rgb(156, 117, 230);
	border-radius: 22px;
	padding:8px;
	
}




.container .card .content-box h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgb(255, 255, 255);
}
.container .card .content-box .size,
.container .card .content-box .color{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.container .card:hover .content-box .size{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
}
.container .card:hover .content-box .color{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.6s;
	color:black;
}
.container .card .content-box .size h3,
.container .card .content-box .color h3{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
	
}

.container .card .content-box .size span{
	width: auto;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-flex;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	border-radius: 8px;
	cursor: pointer;
}
.container .card .content-box .size span:hover{
	background:#ffffff;
}
.container .card .content-box .color span{
	width: 20px;
	height: 20px;
	background: #ff0;

	margin: 0 5px;
	cursor:pointer;
}
.container .card .content-box .color span:nth-child(2){
	background: #9bdc28;
}
.container .card .content-box .color span:nth-child(3){
	background: #03a9f4;
}
.container .card .content-box .color span:nth-child(4){
	background: #e91e63;
}
.container .card .content-box a {
	display: inline-block;
	padding: 10px 20px;
	background: rgb(151, 150, 231);
	border-radius: 4px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	color: rgb(255, 255, 255);
	opacity: 0;
	transform: translate(50px);
	transition: 0.5s;
}
.container .card:hover .content-box a{
	opacity: 1;
	transform: translateY(0px);
	border-radius: 30px;
	transition-delay: 0.75s;
	
}

.container .card .content-box a:hover{
	background: #ffffff;
	transition: 0.1s;
	color:black
}
.anchor{border-radius: 10px;}

.whole{display: inline-flex;}

.description{padding:1em ; font-family:cursive;font-size: 1rem;}
	
.desc_container{width:40vw ; height: 20vh;display: inline-flex;background-color: none;padding:2em;position: relative;margin:2em;white-space: pre-line;}

  .card:hover{  background: #eee;
	box-shadow: 0 8px 8px -4px lightblue;}

	.heading{
		background: linear-gradient(90deg, #032336,#1d1846);
		display: flex;
	height: auto;
	width:100%;
	border-radius: 5px;
	}

	.project{
		color:white;
		align-self: center;
		align-items: center;
		
	}
	.project h2{font-size: 4em;font-family: 'Courier New', Courier, monospace;display: inline-flex;}

	.animate{position:static;}

	.media_heading{
		background: linear-gradient(90deg, #032336,#1d1846);
		display: flex;
	height: 8em;
	width:100%;
	border-radius: 0px;
	}

	.media_project{
		color:white;
		align-self: center;
		align-items: center;
		
	}
	.media_project h2{font-size: 2em;font-family: 'Courier New', Courier, monospace;display: inline-flex;margin-right: 3em;}




	
.media_container{
	position: relative;
	align-self: center;
	padding-top: 2em;
	padding-left: 1.5em;
	padding-bottom: 1em;
	display: inline-flex;
	height: auto;
	
}
.media_container .media_card{
	position: relative;
	width: 80vw;
	height: 35vh;
	background: #d0d8f3;
	border-radius: 20px;
	overflow: hidden;
	display: inline-flex;
	


	
}
.media_container .media_card:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7984e4;
	clip-path: circle(240px at 30% 100%);
	transition: 0.5s ease-in-out;
	
}
.media_container .media_card:hover:before{
	clip-path: circle(300px at 80% -20%);
}
.media_container .media_card:after{
	
	position: absolute;
	top: 30%;
	left: -20%;
	font-size: 12em;
	font-weight: 800;
	font-style: italic;
	color: rgba(255,255,255,0.04);
}
.media_container .media_card .img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10000;
	width: 100%;
	height: 220px;
	transition: 0.5s;
}
.media_container .media_card:hover .img{
	top: 0%;
	transform: translateY(0%);
}
.media_container .media_card .img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)rotate(-25deg)scaleX(-1);
	width: 270px;
}
.media_container .media_card .media_content-box{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}
.media_container .media_card:hover .media_content-box{
	height: 210px;
	background-color: rgb(156, 117, 230);
	border-radius: 22px;
	padding:8px;
	
}
.media_container .media_card .media_content-box h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgb(255, 255, 255);
}
.media_container .media_card .media_content-box .media_size,
.media_container .media_card .media_content-box .media_color{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.media_container .media_card:hover .media_content-box .media_size{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
}
.media_container .media_card:hover .media_content-box .media_color{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.6s;
	color:black;
}
.media_container .media_card .media_content-box .media_size h3,
.media_container .media_card .media_content-box .media_color h3{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
	
}

.media_container .media_card .media_content-box .media_size span{
	width: auto;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-flex;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	border-radius: 8px;
	cursor: pointer;
}
.media_container .media_card .media_content-box .media_size span:hover{
	background:#9bdc28;
}
.media_container .media_card .media_content-box .media_color span{
	width: 20px;
	height: 20px;
	background: #ff0;
	border-radius: 50%;
	margin: 0 5px;
	cursor:pointer;
}
.media_container .media_card .media_content-box .media_color span:nth-child(2){
	background: #9bdc28;
}
.media_container .media_card .media_content-box .media_color span:nth-child(3){
	background: #03a9f4;
}
.media_container .media_card .media_content-box .media_color span:nth-child(4){
	background: #e91e63;
}
.media_container .media_card .media_content-box a {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 20px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translate(50px);
	transition: 0.5s;
}
.media_container .media_card:hover .media_content-box a{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.75s;
}

.media_container .media_card .media_content-box a:hover{
	background: #9bdc28;
	transition: 0.1s;
}
.media_anchor{border-radius: 10px;}





  .card:hover{  background: #eee;
	box-shadow: 0 8px 8px -4px lightblue;}



	.plus{position: absolute;}



	
	.button {
		position: relative;
		width: 30px;
		height: 30px;
	   /* Vertical line */
	   /* horizontal line */
   }
	.button:before, .button:after {
		content: "";
		position: absolute;
		background-color: rgb(255, 255, 255);
		transition: transform 0.25s ease-out;
   }
	.button:before {
		top: 0;
		left: 50%;
		width: 4px;
		height: 100%;
		margin-left: -2px;
   }
	.button:after {
		top: 50%;
		left: 0;
		width: 100%;
		height: 4px;
		margin-top: -2px;
   }
	.card:hover .button {
		cursor: pointer;
		
		
   }
	.card:hover .button:before {
		transform: rotate(90deg);
		background-color: black;
   }
   .card:hover .button:after {
		transform: rotate(180deg);
		background-color: black;
   }
	

   .media_button {
	position: relative;
	width: 15px;
	height: 15px;
	left:1em;
	top:-5em
   /* Vertical line */
   /* horizontal line */
}
.media_button:before, .media_button:after {
	content: "";
	position: absolute;
	background-color: rgb(255, 255, 255);
	transition: transform 0.25s ease-out;
}
.media_button:before {
	top: 0;
	left: 50%;
	width: 4px;
	height: 100%;
	margin-left: -2px;
}
.media_button:after {
	top: 50%;
	left: 0;
	width: 100%;
	height: 4px;
	margin-top: -2px;
	
}
.media_card:active .button {
	cursor: pointer;
	
	
}
/* .media_card:active .media_button:before {
	transform: rotate(180deg);
	transition: 1s ease-in-out;
	background-color: rgb(119, 118, 233);
	
}  */
.media_card:active .media_button:after {
	transform: rotate(360deg);
	background-color: rgb(111, 113, 199);
	
}


._heading {
    margin: 10px 0 0 10px;
    font-size: 4em;
    width: max-content;
    display: flex;
    flex-direction: column;
	position: absolute;
}
._heading > div {
    overflow: hidden;
}
._heading > div > p {

    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}
.green {
    color: #7898ee;
	background: none;
}
div._heading > div {
    animation-delay: 0;
}
div._heading > div:nth-child(2) > p {
    animation-delay: 0.05s;
}
div._heading > div {
    animation-delay: 0;
}
div._heading > div:nth-child(3) > p {
    animation-delay: 0.075s;
}
._slide-up {
    animation: slide-up 1s cubic-bezier(0.65, 0, 0.35, 1) both;
}
@keyframes slide-up {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}


.bubble{position: absolute;right:10em}
.gpt{position: absolute;right:42em;top:32em;transform: rotate(20deg);}
.react{position: absolute;bottom:45em;zoom:80%;left:30em}
.hospital{position: absolute;bottom:-1em;zoom:100%;left:30em}