.heading{color:white ; padding:40px;font: 6em sans-serif;}

.underline{width: 30%;height:10px;border-top: 10px solid white;border-radius: 30px;}

/* .body{height:auto;width:100%;padding-bottom: 20px;
  
   background-color: black;
  }  */

  
  
















.StackLabel{color:white}

.avatar{padding-left:2em;transform:translateY(-3em);zoom:130%}

.container {
    position: relative;
    height: auto;
    min-height: 400px;
    width: auto;
    min-width: 400px;
    top: 60px;
    left: calc(50% - 700px);
    display: flex;
    
  }
  
  .card {
    display: flex;
    height: auto;
    min-height: 300px;
    width: auto;
    min-width: 300px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    top:-8em;
    left: 0px;
    
  }
  
  .card:not(:first-child) {
      margin-left: 50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    background-color: cyan;
    color:black;

  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
    color:black;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  

  .card:hover > .title{color:black;font-weight: 600;}

 .content{align-self: center;color:white;padding:10px 50px 40px 20px;font-size: larger;margin-top: 60px;}

 .card:hover > .content{color:black;font-weight: 600;zoom:110%}


 @media (max-width: 1000px){
  
 .avatar{padding:20px;position: relative;transform:translateY(-2.5em);display: inline-flex;right:10em}
  .heading{color:white ; padding:10px;font: 1.8em sans-serif;}
  .heading h2{font-size: 1em;padding-left: 20px;}
  .underline{width: 60%;height:10px;border-top: 10px solid white;border-radius: 30px;margin-left: 20px;}
  
  .body{height:auto;width:100%;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2734%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient2735)'%3e%3c/rect%3e%3cg%3e%3cpath d='M1925 525L1875 575L1825 575L1775 575M1975 525L1925 525L1875 525' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1866.67 525 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1766.67 575 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1475 625L1425 675L1375 675L1325 675L1275 675M1525 625L1475 675L1425 725L1375 725L1325 725M1625 625L1575 575M1975 575L1925 625L1875 625L1825 625L1775 625L1725 625L1675 625L1625 625L1575 625L1525 625L1475 625L1425 625' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1416.67 625 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1266.67 675 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1316.67 725 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1566.67 575 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1575 375L1525 425M1775 425L1725 475L1675 475L1625 475L1575 475M1825 475L1775 475M1975 475L1925 475L1875 475L1825 475L1775 425L1725 425L1675 425L1625 375L1575 375L1525 375' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1516.67 375 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1516.67 425 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1566.67 475 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1766.67 475 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1725 675L1675 725L1625 725L1575 725L1525 725M1775 675L1725 725M1875 675L1825 725L1775 725M1975 675L1925 675L1875 675L1825 675L1775 675L1725 675L1675 675L1625 675' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1616.67 675 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1516.67 725 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1716.67 725 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1766.67 725 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1925 375L1875 425L1825 425M1975 375L1925 375L1875 375L1825 375' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1816.67 375 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1816.67 425 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1975 725L1925 725' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1916.67 725 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1425 325L1375 375L1325 375L1275 375L1225 425M1475 325L1425 375L1375 425L1325 425L1275 425M1775 325L1725 375L1675 375M1975 325L1925 325L1875 325L1825 325L1775 325L1725 325L1675 325L1625 325L1575 325L1525 325L1475 325L1425 325L1375 325' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1366.67 325 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1216.67 425 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1266.67 425 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1666.67 375 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1275 825L1225 875L1175 925L1125 925L1075 925M1225 825L1175 775L1125 775L1075 775M1175 825L1125 875L1075 875L1025 875L975 925M1725 775L1675 825L1625 825L1575 875L1525 875L1475 875M1975 775L1925 775L1875 825L1825 825L1775 775L1725 775L1675 775L1625 775L1575 825L1525 825L1475 825L1425 825L1375 825L1325 825L1275 825L1225 825L1175 825L1125 825' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1116.67 825 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1066.67 925 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1066.67 775 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM966.67 925 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1466.67 875 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3cpath d='M1125 225L1075 175M1275 275L1225 225L1175 225M1425 275L1375 225L1325 225L1275 225L1225 175L1175 175L1125 175L1075 125M1675 275L1625 225M1075 225L1025 275M1975 275L1925 275L1875 275L1825 275L1775 275L1725 275L1675 275L1625 275L1575 275L1525 275L1475 275L1425 275L1375 275L1325 275L1275 275L1225 275L1175 275L1125 225L1075 225L1025 225' stroke='url(%23SvgjsLinearGradient2736)' stroke-width='8.33'%3e%3c/path%3e%3cpath d='M1016.67 225 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1066.67 175 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1166.67 225 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1066.67 125 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1616.67 225 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0zM1016.67 275 a8.33 8.33 0 1 0 16.66 0 a8.33 8.33 0 1 0 -16.66 0z' fill='url(%23SvgjsLinearGradient2736)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2734'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2735'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 193%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='864' y1='540' x2='1920' y2='540' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2736'%3e%3cstop stop-color='rgba(105%2c 91%2c 94%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(105%2c 91%2c 94%2c 1)' offset='0.19'%3e%3c/stop%3e%3cstop stop-color='rgba(221%2c 17%2c 51%2c 1)' offset='0.22'%3e%3c/stop%3e%3cstop stop-color='rgba(105%2c 91%2c 94%2c 1)' offset='0.24'%3e%3c/stop%3e%3cstop stop-color='rgba(105%2c 91%2c 94%2c 1)' offset='0.26'%3e%3c/stop%3e%3cstop stop-color='rgba(105%2c 91%2c 94%2c 1)' offset='0.27'%3e%3c/stop%3e%3cstop stop-color='rgba(105%2c 91%2c 94%2c 1)' offset='0.27'%3e%3c/stop%3e%3cstop stop-color='rgba(58%2c 124%2c 195%2c 1)' offset='0.28'%3e%3c/stop%3e%3cstop stop-color='%23dd1133' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }
  
  .StackLabel{color:white}
  
  
  
  .container {
      position: static;
      height: auto;
      min-height: 740px;
      width: 100%;
      padding-left: 30px;
      top: 60px;
      
      display: inline-block;
      align-items:center;
      
    }
    
    .card {
      display: inline-block;
      height: auto;
      
      width: 50%;
      align-content:center;
      background-color: #17141d;
      border-radius: 10px;
      box-shadow: -1rem 0 3rem #000;
    margin-left: 50px; 
      transition: 0.4s ease-out;
      align-items:center;
     
      left: -40px;
      padding-bottom: 10px;
      margin-bottom: -30px;
      margin-top: 4em;
      
      
    }
    
    
    
    .card:hover {
      transform: translate3d(10px);
      transition: 0.4s ease-out;
      background-color: cyan;
      color:black;
  
    }
    
    .card:hover ~ .card {
      position: relative;
      left: -40px;
      transition: 0.4s ease-out;
      color:black;
    }
    
    .title {
      color: white;
      font-weight: 300;
      position: absolute;
      left: 20px;
      top: 15px;
      align-self:center
    }
    
  
    .card:hover > .title{color:black;font-weight: 600;}
  
   .content{align-self: left;color:white;padding:10px;font-size: larger;margin-top: 60px;}
  
   .card:hover > .content{color:black;font-weight: 600;zoom:110%}

    h3{font-size: 2em;}


 }



 .bg_repeat {
  height:auto;width:100%;
  z-index:-1;
  background: rgba(135, 195, 181, 1);
}
.bg_repeat_items {
  height:auto;width:100%;padding-bottom: 20px;
  position: relative;
}
.bg_repeat_item {
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-size: 960px 56.25%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg_repeat_item_1 {
  background-image: url(https://www.expexp.jp/codepen/bg-repeat/img/bg-mount_1.png);
  z-index: 0;
  animation: bgRepeat 500s linear 0s infinite both running;
}
.bg_repeat_item_2 {
  background-image: url(https://www.expexp.jp/codepen/bg-repeat/img/bg-mount_2.png);
  z-index: 0;
  animation: bgRepeat 250s linear 0s infinite both running;
}
.bg_repeat_item_3 {
  background-image: url(https://www.expexp.jp/codepen/bg-repeat/img/bg-mount_3.png);
  z-index: 0;
  animation: bgRepeat 166.6666666667s linear 0s infinite both running;
}
.bg_repeat_item_4 {
  background-image: url(https://www.expexp.jp/codepen/bg-repeat/img/bg-mount_4.png);
  z-index: 0;
  animation: bgRepeat 125s linear 0s infinite both running;
}
.bg_repeat_item_5 {
  background-image: url(https://www.expexp.jp/codepen/bg-repeat/img/bg-mount_5.png);
  z-index: 0;
  animation: bgRepeat 100s linear 0s infinite both running;
}


@keyframes bgRepeat {
  from {
    background-position-x: 0;
 }
  to {
    background-position-x: 1920px;
 }
}
