.back{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M355.4991247639001 101.54025764822057L352.31010986949946 192.86169588726767 490.8867746752705 151.98449910934508z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M980.4757189330717 437.5847227923664L1080.012347537489 414.6048813957276 1057.03250614085 315.0682527913104 957.4958775364329 338.04809418794923z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M292.487%2c820.09C351.759%2c817.89%2c400.389%2c776.932%2c428.29%2c724.591C454.463%2c675.492%2c453.75%2c617.323%2c426.404%2c568.868C398.561%2c519.53%2c349.139%2c484.152%2c292.487%2c483.953C235.518%2c483.753%2c186.75%2c519.38%2c156.928%2c567.92C125.414%2c619.215%2c109.52%2c682.338%2c138.025%2c735.364C167.827%2c790.802%2c229.589%2c822.424%2c292.487%2c820.09' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M786.6618288148985 453.46132902811155L907.5457906954929 434.315190381441 888.3996520488224 313.4312285008466 767.5156901682279 332.5773671475171z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M395.93343312221964 174.66730634232982L329.82653344540995 90.05433327076992 245.21356037385004 156.1612329475796 311.32046005065973 240.7742060191395z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1377.4198562863128 125.18803303784432L1283.4855981536043 40.609247117036375 1292.841070365505 219.12229117055278z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	height:100vh;
}

.navbar{
	
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/rect%3e%3cpath d='M1560 560L0 560 L0 308.08Q67.64 255.72%2c 120 323.36Q181.56 312.93%2c 192 374.49Q235.3 297.79%2c 312 341.09Q359.05 268.13%2c 432 315.18Q477.68 240.86%2c 552 286.53Q643.59 258.12%2c 672 349.71Q743.2 300.91%2c 792 372.11Q808.1 268.21%2c 912 284.31Q984.04 236.35%2c 1032 308.38Q1062.91 267.29%2c 1104 298.21Q1171.15 293.36%2c 1176 360.51Q1216.53 281.04%2c 1296 321.57Q1311.74 265.31%2c 1368 281.04Q1410.22 251.26%2c 1440 293.49Q1532.9 266.39%2c 1560 359.29z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 373.07Q74.44 327.51%2c 120 401.96Q188.19 350.14%2c 240 418.33Q256.7 363.03%2c 312 379.73Q366.67 314.4%2c 432 369.08Q482.56 299.63%2c 552 350.19Q603.66 329.85%2c 624 381.51Q675.52 361.03%2c 696 412.56Q710.81 355.37%2c 768 370.17Q833.54 315.71%2c 888 381.25Q962.28 335.53%2c 1008 409.81Q1054.77 384.58%2c 1080 431.35Q1105.6 336.95%2c 1200 362.54Q1247.02 337.56%2c 1272 384.59Q1354.11 346.69%2c 1392 428.8Q1398.8 363.6%2c 1464 370.39z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 456.52Q59.92 396.44%2c 120 456.35Q161.69 426.04%2c 192 467.73Q208.78 412.51%2c 264 429.3Q331.55 376.85%2c 384 444.39Q449.56 437.95%2c 456 503.52Q476.74 404.25%2c 576 424.99Q649.27 378.26%2c 696 451.54Q759.88 443.43%2c 768 507.31Q785.5 452.81%2c 840 470.32Q884.19 394.51%2c 960 438.7Q1018.12 424.81%2c 1032 482.93Q1073.7 452.63%2c 1104 494.33Q1173.09 443.41%2c 1224 512.5Q1241.44 409.94%2c 1344 427.38Q1409.43 372.81%2c 1464 438.24z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 554.61Q30.83 465.44%2c 120 496.28Q195.96 452.24%2c 240 528.19Q316.6 484.79%2c 360 561.39Q361.15 490.54%2c 432 491.69Q468.11 455.8%2c 504 491.91Q591.14 459.05%2c 624 546.19Q699.66 501.85%2c 744 577.51Q757.52 519.03%2c 816 532.55Q833.9 478.45%2c 888 496.35Q954.6 442.95%2c 1008 509.55Q1075.83 457.38%2c 1128 525.21Q1184.99 510.2%2c 1200 567.19Q1230.15 477.34%2c 1320 507.49Q1363.32 478.81%2c 1392 522.12Q1461.05 471.17%2c 1512 540.22z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	border-radius: 20px;
	height:6em;
	display: inline-block;
	padding:20px;
	animation: slider 1.4s ease-in both;
}

.navbar:hover{height:6em;}

.headerElements{
	padding : 10px;
	color:white;
	font-size: 2vw;
	
}

 .torigt{float:right;}

 @keyframes slider {
	 0%{width:70vw;}
	 50%{width: 80vw;}
	 100%{width:90vw;}
	 
 }

@keyframes hover{100%{border-radius: 60px;}}

 span:hover{color:darkturquoise;transition: ease-in 0.5s;background-color: white;animation: hover 0.2s ease-in both}


 
svg text {
	font-family:'Courier New', Courier, monospace;
	letter-spacing: 7px;
	stroke: #f1f2f5;
	font-size: 5em;
	font-weight: 700;
	stroke-width: 3;
   
	animation: textAnimate 4s infinite alternate-reverse ;
	
	
  }
  
  @keyframes textAnimate {
	0% {
	  stroke-dasharray: 0 50%;
	  stroke-dashoffset:  20%;
	  fill:hsl(189, 68%, 75%)
  
	}
	
	100% {
	  stroke-dasharray: 50% 0;
	  stroke-dashoffstet: -20%;
	  fill: hsla(189, 68%, 75%,0%)
	}
	
  }

  .intro{display: inline;padding: 10px;}

  .sideText{font-size: 5em;color: white;padding-left: 2em;}
  .sideTexth2{font-size: 3em;color: white;padding-left: 7em;position: relative;bottom:10px;}




  @keyframes bounce {
	0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -10px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

@media  (min-width:1000px){
.bounce {
  text-align:center;
  margin:20px auto;
 margin-right: 50em;
 margin-left: 21em;
  height:20px;
 
  padding:20px;  
  padding-bottom: 40px;
  background:rgb(250, 250, 251);
 animation: bounce 2s infinite;
 border-radius: 30px;
}}

@media (max-width: 1000px) {
	.navbar{
	
		display:none;
		


		
		
 }
 

 .back{height:100vh;width:100%;display: inline-flex; }
 svg text {
	font-family:'Courier New', Courier, monospace;
	letter-spacing: 1px;
	stroke: #f1f2f5;
	font-size: 2em;
	font-weight: 300;
	stroke-width: 3;
	left:10px;
	position: absolute;
	animation: textAnimate 4s infinite alternate-reverse ;
	margin-left: 10px;
	padding: 10px;
	
	
	

	
	
	
  }
  svg{width: 100%;align-content: center;padding:20px}
  .intro{padding: 0.5px ; width:360px;align-content: center;height:100%}

  .sideText{font-size: 3em;color: white;padding-left: 1em;align-content: right;align-self: center;padding-top: 30px;position: absolute;}
  .sideTexth2{font-size: 1em;color: white;bottom:10px;left:-50px;top:-20px}
  .bounce {
	text-align:center;
	
	
	margin-top:50px;
	height:40px;
	padding: 1em;
	
	  
	
	background:rgb(250, 250, 251);
   animation: bounce 2s infinite;
   border-radius: 30px;
   align-self: center;
   margin-left: 3em;
   margin-right: 3em;
  }
  
 }
 